<aside class="govuk-related-items">
	<h2 class="heading-medium">Return period 6 (R06)</h2>
	<div class="data">
		<span class="data-item bold-large">15 days</span>
		<span class="data-item font-small">until close</span>
	</div>

	<details>
		<summary><span class="summary">Return period dates</span></summary>

		<div class="panel panel-border-wide">
			<h3 class="heading-small">Return period 6 (R06)</h3>
			<p>The current return period runs from 8th August 2018 &ndash; 6th September 2018.</p>
			<a href="#">See all Return dates</a>
		</div>
	</details>
</aside>