{% extends "layout.html" %}

{% block page_title %}
Prototype home page
{% endblock %}

{% block service_name %}

{% endblock %}

{% block content %}
<main id="content" role="main">
	{% include 'includes/phase_banner.html' %}
	
	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-xlarge">
				<span class="heading-secondary">ESFA Data Collections</span>
				Prototype home page
			</h1>
			
			<h2 class="heading-medium">Hub</h2>
			<ul class="list list-bullet">
				<li><a href="/hub?hub-version=v1">Hub v1</a></li>
				<li><a href="/hub?hub-version=v2">Hub v2</a></li>
				<li><a href="/hub?hub-version=v3">Hub v3</a></li>
				<li><a href="/hub?hub-version=v4">Hub v4</a></li>
				<li><a href="/hub?hub-version=v5">Hub v5</a></li>
				<li><a href="/hub?hub-version=v6">Hub v6</a></li>
			</ul>

			<h2 class="heading-medium">ILR details</h2>
			<ul class="list list-bullet">
				<li><a href="/ilr-details-v1">ILR details v1</a></li>
				<li><a href="/ilr-details-v2">ILR details v2</a></li>
				<li><a href="/ilr-details-v3">ILR details v3</a></li>
			</ul>

			<h2 class="heading-medium">ILR submission journey</h2>
			<ul class="list list-bullet">
				<li><a href="/hub?hub-version=v1">Version 1</a></li>
				<li><a href="/hub?hub-version=v2">Version 2</a></li>
			</ul>
		</div>
	</div>
</main>

{% endblock %}