{% extends "version-2/layout.html" %}

{% block page_title %}
Submit an ILR - GOV.UK
{% endblock %}

{% block service_name %}
Submit an ILR
{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include 'includes/phase_banner.html' %}
	
	<div class="grid-row">
		<div class="column-two-thirds">
			<h2 class="heading-large">
				<abbr title="Individualised Learner Record">ILR</abbr> reports
			</h2>
			
			<table>
				<thead>
					<tr>
						<th>Return period</th>
						<th>Filename</th>
						<th>Status</th>
					</tr>
				</thead>

				<tbody>				
					<tr>
						<td>Return period 5</td>
						<td>1812918212_ilr_293-1291-02.xml</td>
						<td>Submitted</td>
					</tr>

					<tr>
						<td>Return period 4</td>
						<td>1212918215_ilr_293-1291-04.xml</td>
						<td>Funded</td>
					</tr>

					<tr>
						<td>Return period 3</td>
						<td>1812918212_ilr_293-1291-02.xml</td>
						<td>Submitted</td>
					</tr>

					<tr>
						<td>Return period 2</td>
						<td>1212918215_ilr_293-1291-04.xml</td>
						<td>Funded</td>
					</tr>
					
					<tr>
						<td>Return period 1</td>
						<td>1212918215_ilr_293-1291-04.xml</td>
						<td>Funded</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div class="column-one-third">
			
			{% include 'includes/return_period_info.html' %}
			<hr>
			<h3 class="heading-medium">
				Latest information 
				<div class="font-xsmall">12th December 2017</div>
			</h3>
			<p>Qualification achievement rates for 2016 to 2017 - provisional data now available.</p>
			<p>Guidance on how to use your data extracts can be found here.</p>
			<p><a href="#">See all announcements</a></p>
		</div>
	</div>
</main>

{% endblock %}