{% extends "version-5/layout.html" %}

{% block page_title %}
Prototype dashboard
{% endblock %}

{% block service_name %}
Prototype dashboard
{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include 'includes/phase_banner.html' %}
	
	<h1 class="heading-xlarge">
		<span class="heading-secondary">Prototype dashboard</span>
		ESFA Data Collections
	</h1>
	<p class="lede">
		This page contains information on different version of the prototype created for the ESFA Data Collections project.
	</p>
	
	{% set sections = [{
		"title" : "Hub concepts"
	},
	{
		"title" : "ILR uploads"
	},
	{
		"title" : "ILR submission confirmation"
	},
	{
		"title" : "ILR details"
	}
	]%}
	
	<div class="grid-row">		
		<div class="column-two-thirds">
			<article>	
				<h2 class="heading-large" id="{{sections[0].title | lower | urlencode}}">{{sections[0].title}}</h2>
				<p>The Hub is where users start multiple journeys. The version being superseded lives at <a href="https://des.fasst.org.uk/Pages/default.aspx" target="_blank">https://des.fasst.org.uk/Pages/default.aspx</a></p>
				
				<div class="grid-row">
					<div class="column-half">
						<h3 class="heading-medium"><a href="/hub?hub-version=v1">Version 1</a></h3>
						<p>This is the first attempt at redesigning the current hub. It uses a pattern being used by the Skills Funding Service.</p>
						<details>
							<summary><span class="summary">Description of changes</span></summary>

							<div class="panel panel-border-thin">
								<ul class="list list-bullet">
									<li>Sed do eiusmod tempor incididunt</li>
									<li>Ut labore et dolore magna aliqua</li>
									<li>Ut enim ad minim veniam</li>
								</ul>
								<p>If any issues or errors were found in the data that you submitted we will let you know.</p>
							</div>
						</details>
					</div>
			
					<div class="column-half">
						<h3 class="heading-medium"><a href="/hub?hub-version=v2">Version 2</a></h3>
						<p>Moved away from tiled layout as it was difficult to include any dynamic content and constrained us to hub and spoke navigation.</p>
						<details>
							<summary><span class="summary">Description of changes</span></summary>

							<div class="panel panel-border-thin">
								<ul class="list list-bullet">
									<li>Sed do eiusmod tempor incididunt</li>
									<li>Ut labore et dolore magna aliqua</li>
									<li>Ut enim ad minim veniam</li>
								</ul>
								<p>If any issues or errors were found in the data that you submitted we will let you know.</p>
							</div>
						</details>
					</div>
				</div>
			
				<div class="grid-row">
					<div class="column-half">
						<h3 class="heading-medium"><a href="/hub?hub-version=v3">Version 3</a></h3>
						<p>This is the first attempt at redesigning the current hub. It uses a pattern being used by the Skills Funding Service.</p>
						<details>
							<summary><span class="summary">Description of changes</span></summary>

							<div class="panel panel-border-thin">
								<ul class="list list-bullet">
									<li>Sed do eiusmod tempor incididunt</li>
									<li>Ut labore et dolore magna aliqua</li>
									<li>Ut enim ad minim veniam</li>
								</ul>
								<p>If any issues or errors were found in the data that you submitted we will let you know.</p>
							</div>
						</details>
					</div>
			
					<div class="column-half">
						<h3 class="heading-medium"><a href="/hub?hub-version=v4">Version 4</a></h3>
						<p>Provider details moved from the top of the main content area to the sidebar.</p>
						<p>Added account navigation links.</p>
						<details>
							<summary><span class="summary">Description of changes</span></summary>

							<div class="panel panel-border-thin">
								<ul class="list list-bullet">
									<li>Sed do eiusmod tempor incididunt</li>
									<li>Ut labore et dolore magna aliqua</li>
									<li>Ut enim ad minim veniam</li>
								</ul>
								<p>If any issues or errors were found in the data that you submitted we will let you know.</p>
							</div>
						</details>
					</div>
				</div>
			</article><!-- end section -->
			
			<hr>
			
			<article>	
				<h2 class="heading-large" id="{{sections[1].title | lower | urlencode}}">{{sections[1].title}}</h2>
			
				<div class="grid-row">
					<div class="column-half">
						<h3 class="heading-medium"><a href="#">Version 1</a></h3>
						<p>This is the first attempt at redesigning the current hub. It uses a pattern being used by the Skills Funding Service.</p>
						<details>
							<summary><span class="summary">Description of changes</span></summary>

							<div class="panel panel-border-thin">
								<ul class="list list-bullet">
									<li>Sed do eiusmod tempor incididunt</li>
									<li>Ut labore et dolore magna aliqua</li>
									<li>Ut enim ad minim veniam</li>
								</ul>
								<p>If any issues or errors were found in the data that you submitted we will let you know.</p>
							</div>
						</details>
					</div>
			
					<div class="column-half">
						<h3 class="heading-medium"><a href="#">Version 2</a></h3>
						<p>This is the first attempt at redesigning the current hub. It uses a pattern being used by the Skills Funding Service.</p>
						<details>
							<summary><span class="summary">Description of changes</span></summary>

							<div class="panel panel-border-thin">
								<ul class="list list-bullet">
									<li>Sed do eiusmod tempor incididunt</li>
									<li>Ut labore et dolore magna aliqua</li>
									<li>Ut enim ad minim veniam</li>
								</ul>
								<p>If any issues or errors were found in the data that you submitted we will let you know.</p>
							</div>
						</details>
					</div>
				</div>
			</article><!-- end section -->
			
			<hr>
			
			<article>	
				<h2 class="heading-large" id="{{sections[2].title | lower | urlencode}}">{{sections[2].title}}</h2>
			
				<div class="grid-row">
					<div class="column-half">
						<h3 class="heading-medium"><a href="submission-complete-v1">Version 1</a></h3>
						<p>This is the first attempt at redesigning the current hub. It uses a pattern being used by the Skills Funding Service.</p>
						<details>
							<summary><span class="summary">Description of changes</span></summary>

							<div class="panel panel-border-thin">
								<ul class="list list-bullet">
									<li>Sed do eiusmod tempor incididunt</li>
									<li>Ut labore et dolore magna aliqua</li>
									<li>Ut enim ad minim veniam</li>
								</ul>
								<p>If any issues or errors were found in the data that you submitted we will let you know.</p>
							</div>
						</details>
					</div>
			
					<div class="column-half">
						<h3 class="heading-medium"><a href="submission-complete-v2">Version 2</a></h3>
						<p>This is the first attempt at redesigning the current hub. It uses a pattern being used by the Skills Funding Service.</p>
						<details>
							<summary><span class="summary">Description of changes</span></summary>

							<div class="panel panel-border-thin">
								<ul class="list list-bullet">
									<li>Sed do eiusmod tempor incididunt</li>
									<li>Ut labore et dolore magna aliqua</li>
									<li>Ut enim ad minim veniam</li>
								</ul>
								<p>If any issues or errors were found in the data that you submitted we will let you know.</p>
							</div>
						</details>
					</div>
				</div>
				
				<div class="grid-row">
					<div class="column-half">
						<h3 class="heading-medium"><a href="submission-complete-v3">Version 3</a></h3>
						<p>This is the first attempt at redesigning the current hub. It uses a pattern being used by the Skills Funding Service.</p>
						<details>
							<summary><span class="summary">Description of changes</span></summary>

							<div class="panel panel-border-thin">
								<ul class="list list-bullet">
									<li>Sed do eiusmod tempor incididunt</li>
									<li>Ut labore et dolore magna aliqua</li>
									<li>Ut enim ad minim veniam</li>
								</ul>
								<p>If any issues or errors were found in the data that you submitted we will let you know.</p>
							</div>
						</details>
					</div>
				</div>
			</article><!-- end section -->
		</div><!-- end main content -->
		
		<div class="column-one-third sticky-sidebar">
			<aside class="govuk-related-items">
				<h2 class="heading heading-medium">Contents</h2>
				<ul class="list list-bulleted">
					{% for section in sections %}
					<li>
						<a href="#{{section.title | lower | urlencode}}">{{section.title}}</a>
					</li>
					{% endfor %}
				</ol>
			</aside>
		</div>
	</div>
</main>

{% endblock %}


