{% extends "layout.html" %}

{% block page_title %}
Submit an ILR - GOV.UK
{% endblock %}

{% block service_name %}
Submit an ILR
{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include 'includes/phase_banner_alpha.html' %}
	
	<div class="back">
		<a class="back-to-previous link-back" href="javascript:history.back()">Back<span class="visuallyhidden"> to the previous question</span></a>
	</div>
	
	<div class="grid-row">
		<div class="column-two-thirds">
			<table>
				<caption class="heading-medium">ILR file details</caption>

				<thead>
					<tr>
						<th>Subject</th>
						<th>Start</th>
						<th>End</th>
					</tr>
				</thead>

				<tbody>
					<tr>
						<td>R01 Release</td>
						<td>Monday 07 August 2017</td>
						<td>Wednesday 09 August 2017</td>
					</tr>

					<tr>
						<td>R01 Learning aims reference data update</td>
						<td>Tuesday 08 August 2017</td>
						<td>Tuesday 08 August 2017</td>
					</tr>

					<tr>
						<td>R01 Optional Release</td>
						<td>Thursday 17 August 2017</td>
						<td>Tuesday 22 August 2017</td>
					</tr>

					<tr>
						<td>R01 Learning aims reference data update</td>
						<td>Monday 21 August 2017</td>
						<td>Monday 21 August 2017</td>
					</tr>

					<tr>
						<td>R01 2017 to 2018</td>
						<td>Wednesday 23 August 2017 09:00</td>
						<td>Wednesday 06 September 2017 18:00</td>
					</tr>

					<tr>
						<td>R02 Release</td>
						<td>Friday 15 September 2017</td>
						<td>Sunday 17 September 2017</td>
					</tr>

					<tr>
						<td>R02 Learning aims reference data update</td>
						<td>Friday 15 September 2017</td>
						<td>Friday 15 September 2017</td>
					</tr>

					<tr>
						<td>R02 Learning aims reference data update</td>
						<td>Thursday 21 September 2017</td>
						<td>Thursday 21 September 2017</td>
					</tr>

					<tr>
						<td>R02 2017 to 2018</td>
						<td>Friday 22 September 2017 09:00</td>
						<td>Thursday 05 October 2017 18:00</td>
					</tr>

					<tr>
						<td>R03 Release</td>
						<td>Friday 06 October 2017</td>
						<td>Sunday 08 October 2017</td>
					</tr>

					<tr>
						<td>R03 Learning aims reference data update</td>
						<td>Friday 06 October 2017</td>
						<td>Friday 06 October 2017</td>
					</tr>

					<tr>
						<td>R03 Learning aims reference data update</td>
						<td>Monday 23 October 2017</td>
						<td>Monday 23 October 2017</td>
					</tr>

					<tr>
						<td>R03 2017 to 2018</td>
						<td>Tuesday 24 October 2017 09:00</td>
						<td>Monday 06 November 2017 18:00</td>
					</tr>

					<tr>
						<td>R04 Release</td>
						<td>Tuesday 07 November 2017</td>
						<td>Thursday 09 November 2017</td>
					</tr>

					<tr>
						<td>R04 Learning aims reference data update</td>
						<td>Wednesday 08 November 2017</td>
					</tr>

					<tr>
						<td>R04 Optional Release</td>
						<td>Monday 13 November 2017</td>
					</tr>

					<tr>
						<td>R04 Learning aims reference data update</td>
						<td>Tuesday 21 November 2017</td>
					</tr>

					<tr>
						<td>R04 2017 to 2018</td>
						<td>Thursday 23 November 2017 09:00</td>
					</tr>

					<tr>
						<td>R05 Release</td>
						<td>Thursday 07 December 2017</td>
					</tr>

					<tr>
						<td>R05 Learning aims reference data update</td>
						<td>Friday 08 December 2017</td>
					</tr>

					<tr>
						<td>R05 Optional Release</td>
						<td>Wednesday 13 December 2017</td>
					</tr>

					<tr>
						<td>R05 Learning aims reference data update</td>
						<td>Friday 15 December 2017</td>
					</tr>

					<tr>
						<td>R05 2017 to 2018</td>
						<td>Monday 18 December 2017 09:00</td>
					</tr>

					<tr>
						<td>R06 Release</td>
						<td>Monday 08 January 2018</td>
					</tr>

					<tr>
						<td>R06 Learning aims reference data update</td>
						<td>Tuesday 09 January 2018</td>
					</tr>

					<tr>
						<td>R06 Optional Release</td>
						<td>Friday 12 January 2018</td>
					</tr>

					<tr>
						<td>R06 Learning aims reference data update</td>
						<td>Monday 22 January 2018</td>
					</tr>

					<tr>
						<td>R06 2017 to 2018</td>
						<td>Wednesday 24 January 2018 09:00</td>
					</tr>

					<tr>
						<td>R07 Release</td>
						<td>Tuesday 13 February 2018</td>
					</tr>

					<tr>
						<td>R07 Learning aims reference data update</td>
						<td>Thursday 08 February 2018</td>
					</tr>

					<tr>
						<td>R07 Optional Release</td>
						<td>Monday 19 February 2018</td>
					</tr>

					<tr>
						<td>R07 Learning aims reference data update</td>
						<td>Monday 19 February 2018</td>
					</tr>

					<tr>
						<td>R07 2017 to 2018</td>
						<td>Wednesday 21 February 2018 09:00</td>
					</tr>

					<tr>
						<td>R08 Release</td>
						<td>Wednesday 07 March 2018</td>
					</tr>

					<tr>
						<td>R08 Learning aims reference data update</td>
						<td>Thursday 08 March 2018</td>
					</tr>

					<tr>
						<td>R08 Optional Release</td>
						<td>Tuesday 13 March 2018</td>
					</tr>

					<tr>
						<td>R08 Learning aims reference data update</td>
						<td>Tuesday 20 March 2018</td>
					</tr>

					<tr>
						<td>R08 2017 to 2018</td>
						<td>Thursday 22 March 2018 09:00</td>
					</tr>

					<tr>
						<td>R09 Release</td>
						<td>Monday 09 April 2018</td>
						<td>Wednesday 11 April 2018</td>
						
					</tr>

					<tr>
						<td>R09 Learning aims reference data update</td>
						<td>Tuesday 10 April 2018</td>
					</tr>

					<tr>
						<td>R09 Learning aims reference data update</td>
						<td>Thursday 19 April 2018</td>
						<td>Thursday 19 April 2018</td>
					</tr>

					<tr>
						<td>R09 2017 to 2018</td>
						<td>Monday 23 April 2018 09:00</td>
						<td>Friday 04 May 2018 2016 18:00</td>
					</tr>

					<tr>
						<td>R10 Release</td>
						<td>Tuesday 08 May 2018</td>
						<td>Thursday 10 May 2018</td>
					</tr>

					<tr>
						<td>R10 Learning aims reference data update</td>
						<td>Tuesday 09 May 2018</td>
						<td>Tuesday 09 May 2018</td>
					</tr>

					<tr>
						<td>R10 Optional Release</td>
						<td>Monday 14 May 2018</td>
						<td>Tuesday 15 May 2018</td>
					</tr>

					<tr>
						<td>R10 Learning aims reference data update</td>
						<td>Monday 21 May 2018</td>
						<td>Monday 21 May 2018</td>
					</tr>

					<tr>
						<td>R10 2017 to 2018</td>
						<td>Wednesday 23 May 2018 09:00</td>
						<td>Wednesday 06 June 2018 2016 18:00</td>
					</tr>

					<tr>
						<td>R11 Release</td>
						<td>Thursday 07 June 2018</td>
						<td>Monday 11 June 2018</td>
					</tr>

					<tr>
						<td>R11 Learning aims reference data update</td>
						<td>Friday 08 June 2018</td>
						<td>Friday 08 June 2018</td>
					</tr>

					<tr>
						<td>R11 Optional Release</td>
						<td>Wednesday 13 June 2018</td>
						<td>Thursday 14 June 2018</td>
					</tr>

					<tr>
						<td>R11 Learning aims reference data update</td>
						<td>Wednesday 20 June 2018</td>
						<td>Wednesday 20 June 2018</td>
					</tr>

					<tr>
						<td>R11 2017 to 2018</td>
						<td>Friday 22 June 2018 09:00</td>
						<td>Thursday 05 July 2018 18:00</td>
					</tr>

					<tr>
						<td>R12 Release</td>
						<td>Friday 06 July 2018</td>
						<td>Tuesday 10 July 2018</td>
					</tr>

					<tr>
						<td>R12 Learning aims reference data update</td>
						<td>Monday 09 July 2018</td>
						<td>Monday 09 July 2018</td>
					</tr>

					<tr>
						<td>R12 Optional Release</td>
						<td>Thursday 12 July 2018</td>
						<td>Friday 13 July 2018</td>
					</tr>

					<tr>
						<td>R12 Learning aims reference data update</td>
						<td>Friday 20 July 2018</td>
						<td>Friday 20 July 2018</td>
					</tr>

					<tr>
						<td>R12 2017 to 2018</td>
						<td>Tuesday 24 July 2018 09:00</td>
						<td>Monday 06 August 2018 18:00</td>
					</tr>

					<tr>
						<td>R13 Release</td>
						<td>Tuesday 07 August 2018</td>
						<td>Thursday 09 August 2018</td>
					</tr>

					<tr>
						<td>R13 Learning aims reference data update</td>
						<td>Tuesday 08 August 2018</td>
						<td>Tuesday 08 August 2018</td>
					</tr>

					<tr>
						<td>R13 Optional Release</td>
						<td>Monday 13 August 2018</td>
						<td>Tuesday 14 August 2018</td>
					</tr>

					<tr>
						<td>R13 Learning aims reference data update</td>
						<td>Thursday 30 August 2018</td>
						<td>Thursday 30 August 2018</td>
					</tr>

					<tr>
						<td>R13 2017 to 2018</td>
						<td>Monday 03 September 2018 09:00</td>
						<td>Friday 14 September 2018 18:00</td>
					</tr>

					<tr>
						<td>R14 Release</td>
						<td>Monday 17 September 2018</td>
						<td>Wednesday 19 September 2018</td>
					</tr>

					<tr>
						<td>R14 Learning aims reference data update</td>
						<td>Tuesday 18 September 2018</td>
						<td>Tuesday 18 September 2018</td>
					</tr>

					<tr>
						<td>R14 Learning aims reference data update</td>
						<td>Thursday 04 October 2018</td>
						<td>Thursday 04 October 2018</td>
					</tr>

					<tr>
						<td>R14 2017 to 2018</td>
						<td>Monday 08 October 2018 09:00</td>
						<td>Thursday 18 October 2018 18:00</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</main>

{% endblock %}