{% extends "layout.html" %}

{% block page_title %}
ESFA Hub - GOV.UK
{% endblock %}

{% block service_name %}
ESFA Hub
{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include 'includes/phase_banner_alpha.html' %}
	<div class="grid-row">
		<div class="column-two-thirds">			
			<h1 class="heading-xlarge">			
				Cambridge College
				<span class="heading-secondary">UKPRN: 10008189</span>
			</h1>

			
			<h2 class="heading-large">
				Individualised Learner Records (<abbr title="Individualised Learner Record">ILR</abbr>)
			</h2>
			
			<p><a href="#">View previous ILR submissions</a></p>
			<p><a href="#">ILR reports</a></p>
				
			{% if not data['file-upload'] %}
			<p class="notice">
				<i class="icon icon-important">
					<span class="visually-hidden">Warning</span>
				</i>
				<strong class="bold-small">
					You haven't submitted an ILR file for Return period 6 (R06) yet.
				</strong>
			</p>
			{% elif data['file-upload'] and 'invalid' in data['file-upload'] %}
			<a href="#" class="bold">1 report to review with errors</a>
			{% elif data['file-upload'] and 'invalid' not in data['file-upload'] %}
			<a href="#" class="bold">1 report to review without errors</a>
			{% endif %}
				
			<p>
				<form action="/submit-ilr">
					<input type="hidden" value="v3" name="hub-version">
					<input type="submit" class="button" value="Submit an ILR file">
				</form>
			</p>
			{% if data['file-upload'] %}
			<p class="font-xsmall">Last file uploaded by you on 8th January 2018 at 5.42pm</p>
			{% endif %}
			
			<hr>
			
			<h2 class="heading-large">
				Earnings adjustment statements (<abbr title="Earnings adjustment statement">EAS</abbr>)
			</h2>
                    
			<p><a href="#">Manage your Earnings adjustment statements</a></p>
			<p><a href="#">EAS reports</a></p>
			
			<hr>
			
			<h2 class="heading-large">
				Learning aims
			</h2>
				
			<p><a href="#" class="button-secondary">Find a Learning aim</a></p>
			
			<hr>
			
			<h2 class="heading-medium">Other resources</h2>

			<ul class="list list-bullet">
				<li>
					<a href="https://www.gov.uk/guidance/sfa-funding-rules">Funding Rules</a>
				</li>
				<li>
					<a href="https://www.gov.uk/government/collections/individualised-learner-record-ilr">The ILR Returns Calendar</a>
				</li>
			</ul>
		</div>
		
		<div class="column-one-third">
			{% include 'includes/return_period_info.html' %}
			
			<h3 class="heading-medium">Service information</h3>
			<p>We could include some notices in this space here maybe. Maybe not.</p>
			<p>Nothing really important though as that should probably go somewhere else.</p>
		</div>
	</div>
</main>
{% endblock %}