{% extends "layout.html" %}

{% block page_title %}
Submit an ILR - GOV.UK
{% endblock %}

{% block service_name %}
Submit an ILR
{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include 'includes/phase_banner_alpha.html' %}
	
	<div class="back">
		<a class="back-to-previous link-back" href="javascript:history.back()">Back<span class="visuallyhidden"> to the previous question</span></a>
	</div>
	
	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-large">
				Upload an <abbr title="Individual Learner Record">ILR</abbr> file
			</h1>
	  
			<p>Use this page to upload an <abbr title="Individual Learner Record">ILR</abbr> file. <abbr title="Individual Learner Record">ILR</abbr> files must be in the <abbr title="Extensible Markup Language">XML</abbr> file format.</p>
			
			<p>You are submitting an ILR for the period <span class="bold">R_06</span>.</p>
			
			<div id="uploading-progress" class="hidden">
				<img id="loading-spinner" src="/public/images/loading-spinner.gif" width="40px">
				<p id="file-name"></p>
			</div>
				
			<form id="upload-select" action="upload-complete">
				<label for="upload" class="button photo-upload-label" role="button">
					<span id="photo-label-text" class="">Upload ILR file</span>
				</label>
				<input accept="text/xml" id="upload" class="choose-file" name="file-upload" aria-controls="progress-container" aria-required="true" type="file">
			</form>
		</div>
	</div>
</main>

{% endblock %}